@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-slideshow-image/dist/styles.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
	margin: 0;
	font-family: 'Roboto Slab', serif;
}

.header-img {
	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.7) 0%,
			rgba(255, 255, 255, 1) 96%
		),
		url('https://res.cloudinary.com/dfkh0m4wf/image/upload/v1638642955/ghall.dev/IMG_1340_ejaug8.jpg');
	background-size: cover;
	background-position: center;
}
